node_modules
credentials*
servers*

secure/sounds/custom-beep*
secure-minify/sounds/custom-beep*


source-files/sounds/custom-beep*
build-dev/sounds/custom-beep*
build-prod/sounds/custom-beep*

push*
logs/
tools/showIrcLogTimeZone.json
*.bak
.env
custom*
