/* These are legacy styles from version v0.2.53
This file will be removed after styles have been
relocated to web component style files. */

/* html {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
} */

.body-theme-light {
  color: red;
  background-color: #f8f8f8;
}
.body-theme-dark {
  color: red;
  background-color: #080808;
}
.text-theme-light {
  color: black;
  background-color: #f8f8f8;
}
.text-theme-dark {
  color: white;
  background-color: #080808;
}
.annunciator-panel-theme-light {
  background-color: #707070;
  border: 1px solid black;
  color: black;
}
.annunciator-panel-theme-dark {
  background-color: #3f3f3f;
  border: 1px solid #7c7c7c;
  color: white;
}

.info-panel-theme-light {
  background-color: #aaaaaa;
  border: 1px solid black;
  color: black;
}
.info-panel-theme-dark {
  background-color: #5c5c5c;
  border: 1px solid #a3a3a3;
  color: white;
}

.connect-panel-theme-light {
  background-color: #b8f5ff;
  border: 1px solid black;
  color: black;
}
.connect-panel-theme-dark {
  background-color: #117180;
  border: 1px solid #7ac4cf;
  color: white;
}
.server-panel-theme-light {
  background-color: #dbbaff;
  border: 1px solid black;
  color: black;
}
.server-panel-theme-dark {
  background-color: #6f449c;
  border: 1px solid #ae8ed1;
  color: white;
}

.wallops-panel-theme-light {
  background-color: #effcae;
  border: 1px solid black;
  color: black;
}
.wallops-panel-theme-dark {
  background-color: #5e7000;
  border: 1px solid #b8d330;
  color: white;
}

.notice-panel-theme-light {
  background-color: #fada9d;
  border: 1px solid black;
  color: black;
}
.notice-panel-theme-dark {
  background-color: #946000;
  border: 1px solid #ddb976;
  color: white;
}
.border-theme-light {
  border: 1px solid black;
}
.border-theme-dark {
  border: 1px solid white;
}
.pm-panel-theme-light {
  background-color: #a8cbe3;
  border: 1px solid black;
  color: black;
}
.pm-panel-theme-dark {
  background-color: #075181;
  border: 1px solid #abd2ec;
  color: white;
}
.channel-panel-theme-light {
  background-color: #bef7bf;
  border: 1px solid black;
  color: black;
}
.channel-panel-theme-dark {
  background-color: #005e03;
  border: 1px solid #99dd9b;
  color: white;
}

textarea {
  resize: none;
  /* for Chrome IOS */
  font-family: monospace;
  font-size: 90%;
}

button {
  background-color: #cccccc;
  border-top: 1px solid #777777;
  border-right: 2px solid #444444;
  border-bottom: 2px solid #444444;
  border-left: 1px solid #777777;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.35);
  color: black;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
}
button:hover {
  background-color: #e2e2e2;
}
button[disabled] {
  background-color: #999999;
  color: #333333
}
#enableAudioButton {
  background-color: #bbe3fc;
  color: #000000;
}

.aa-section-div {
  /* border: 1px solid black; */
  border-radius: 6px;
  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 10px;
  margin-bottom: 8px;
}

.aa-start-scrollable{
  margin-top: 50px;
}

.annunciator-panel-div {
  /* background-color: #707070; */
  /* border: 1px solid black; */
  border-radius: 6px;
  /* color: black; */
  padding-top: 7px;
  padding-bottom: 7px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 4;
}

.annunciator-div {
  position: fixed;
  top: 8px;
  left: 10px;
  width: auto;
  z-index: 5;
}

.annunciator-connect-icon {
  background-color: #e00000;
  border: 1px solid black;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  display: inline-block;
  margin-right: 2px;
  padding: 3px 10px 2px 10px;
  cursor: pointer;
}

.annunciator-connect-icon[unavailable] {
  background-color: #000000;
  color: #bbbbbb;
}
.annunciator-connect-icon[connecting] {
  background-color: #ffff00;
  color: #000000;
}
.annunciator-connect-icon[connected] {
  color: #ffffff;
  background-color: #00b800;
}

.annunciator-away-icon {
  background-color: blue;
  border: 1px solid black;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  display: inline-block;
  margin-right: 2px;
  padding: 3px 10px 2px 10px;
  cursor: pointer;
}
.annunciator-away-icon[hidden] {
  display: none;
}

.annunciator-wait-icon {
  background-color: #ae45b0;
  border: 1px solid black;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  display: inline-block;
  margin-right: 2px;
  padding: 3px 10px 2px 10px;
}
.annunciator-wait-icon[hidden] {
  display: none;
}
.annunciator-recovery-icon {
  background-color: #f2f1e1;
  color: black;
  border: 1px solid black;
  border-radius: 15px;
  color: #000000;
  font-weight: bold;
  display: inline-block;
  margin-right: 2px;
  padding: 3px 5px 2px 5px;
  cursor: pointer;
}
.annunciator-recovery-icon[hidden] {
  display: none;
}
.been-kicked-icon {
  background-color: #ff0000;
  border: 0px solid black;
  border-radius: 12px;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  margin-left: 2px;
  margin-right: 0px;
  padding: 0px 3px 0px 3px;
  text-align: center;
}
.been-kicked-icon[hidden] {
display: none;
}

.bm10 {margin-bottom: 10px;}

.button-div {
  margin-bottom: 5px;
}

.chan-name-div {
  display: inline-block;
  font-size: 120%;
  margin-bottom: 5px;
}

.chan-topic-div {
  margin-bottom: 5px;
}

.channel-bottom-div {}

.channel-top-div {}

.channel-cb-cb {
  vertical-align: middle;
}
.channel-cb-span {
  margin-right: 10px;
  font-size: 80%;
  vertical-align: middle;
}

.channel-button {
  margin-right: 7px;
}
.privMsg-button {
  margin-right: 7px;
}

.channel-names-display {
  margin-right: 6px;
}

.connect-read-only-div {
  border-radius: 7px;
  padding: 10px;
}
.connect-read-only-div[hidden] {
  display: none;
}
.debug-div-time {
  border-radius: 5px;
  padding-left: 10px;
  margin-right: 42px;
  margin-bottom: 10px;
}
.debug-pre-time {
  padding-top: 10px;
  padding-bottom: 10px;
}

.error-div {
  position: fixed;
  top: 0px;
  left: 0px;
  width: auto;
  color: white;
  background-color: red;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 10;
}

.error-title {
  text-align: center;
  font-size: 120%;
}

.head-flex {
  display: flex;
  justify-content: space-between;
}
.font120 {
  font-size: 120%;
}
.head-left {
  display: inline;
}

.head-center {
  display: inline;
}

.head-right {
  display: inline;
  padding-right: 10px;
}

.icon-inner-true {
  background-color: #000000;
  border: 1px solid black;
  border-radius: 3px;
  color: #000000;
  display: inline-block;
  margin: 4px;
  width: 6px;
  height: 6px;
}

.icon-inner-false {
  background-color: #e00000;
  border: 1px solid #e00000;
  border-radius: 3px;
  color: #e00000;
  display: inline-block;
  margin: 4px;
  width: 6px;
  height: 6px;
}
.icon-true {
  background-color: #00b800;
  border: 1px solid black;
  border-radius: 8px;
  color: #000000;
  display: inline-block;
  margin-right: 3px;
  width: 16px;
  height: 16px;
}
.icon-false {
  background-color: #e00000;
  border: 1px solid black;
  border-radius: 8px;
  color: #e00000;
  display: inline-block;
  margin-right: 3px;
  width: 16px;
  height: 16px;
}
.indent20 {
  padding-left: 20px;
}
.info-license-div {
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.info-pre-help {
  font-size: 80%;
}

.inline-block {
  display: inline-block;
}

.input-label-left {
  display: inline-block;
}

.input-label-right {
  display: inline-block;
}

.input-label-top {
  display: block;
  margin-bottom: 4px;
}

.lm10 {margin-left: 10px;}

.logout-confirm-div {
  border: 1px solid black;
  border-radius: 6px;
  background-color: yellow;
  color: black;
  padding: 10px;
}
.empty-server-list-div {
  border: 1px solid black;
  border-radius: 6px;
  background-color: yellow;
  color: black;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.message-icon {
  /* border: 1px solid black; */
  border-radius: 15px;
  font-weight: bold;
  display: inline-block;
  margin-right: 2px;
  padding: 3px 5px 2px 5px;
  cursor: pointer;
}
.message-icon[hidden] {
  display: none;
}

.pm-window-count {
  /* background-color: #c5d5e0;
  border: 1px solid black; */
  border-radius: 12px;
  /* color: #000000; */
  display: inline-block;
  margin-left: 2px;
  margin-right: 0px;
  min-height: 20px;
  min-width: 20px;
  padding: 2px 3px 1px 3px;
  text-align: center;
}
.pm-window-count[hidden] {
  display: none;
}

.channel-window-count {
  border-radius: 12px;
  display: inline-block;
  margin-left: 2px;
  margin-right: 0px;
  min-height: 20px;
  min-width: 20px;
  padding: 2px 3px 1px 3px;
  text-align: center;
}
.channel-window-count[hidden] {
  display: none;
}

.nick-count {
  border-radius: 12px;
  display: inline-block;
  margin-left: 2px;
  margin-right: 0px;
  min-height: 20px;
  min-width: 20px;
  padding: 2px 3px 1px 3px;
  text-align: center;
}
.nick-count[hidden] {
  display: none;
}

.message-count {
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 12px;
  color: #000000;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
  min-height: 20px;
  min-width: 20px;
  padding: 2px 3px 1px 3px;
  text-align: center;
  cursor: pointer;    
}
.message-count[hidden] {
  display: none;
}

.notice-button {
  margin-right: 4px;
  margin-bottom: 7px;
}

.program-version-div {
  font-size: 80%; 
  text-align: right;
  padding-right: 15px;
}

.pm-cb-cb {
  vertical-align: middle;
}
.pm-cb-span {
  margin-right: 10px;
  font-size: 80%;
  vertical-align: middle;
}

.raw-cb-cb {
  vertical-align: middle;
  margin-right: 0px;
}
.raw-cb-span {
  margin-right: 5px;
  font-size: 80%;
  vertical-align: middle;
}

.reconnect-div {
  background-color: #1234ff;
  color: #ffffff;
  border: 1px solid black;
  border-radius: 6px;
  padding-top: 0px;
  padding-bottom: 6px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.reconnect-status-div {
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
}

.rm5 {margin-right: 5px;}
.rm10 {margin-right: 10px;}
.rm20 {margin-right: 20px;}


.user-span {
  font-size: 120%;
  font-weight: bold;
}
.variables-div {
  background-color: #dbc8b6;
  color: black;
  border: 1px solid black;
  margin-right: 42px;
  padding: 6px;
}

.va-middle {
  vertical-align: middle;
}

.vh5 {height: 5px;}
.vh10 {height: 10px;}
.vh20 {height: 20px;}

.white-info-div {
  background-color: white;
  color: black;
  border: 1px solid black;
  margin-top: 3px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.yellow-info-div {
  background-color: yellow;
  color: black;
  border: 1px solid black;
  margin-top: 3px;
  margin-bottom: 10px;
  padding: 10px;
}

