
/* debug-panel */

.debug-panel-theme-light {
  background-color: #ffa1a1;
  border: 1px solid #8f0000;
  color: black;
}
.debug-panel-theme-dark {
  background-color: #ce0404;
  border: 1px solid #ffffff;
  color: white;
}

