
/* debug-panel */

.debug-panel-theme-light {
  background-color: #ffa1a1;
  border: 1px solid #8f0000;
  color: black;
}
.debug-panel-theme-dark {
  background-color: #ce0404;
  border: 1px solid #ffffff;
  color: white;
}

.debug-panel-section-div {
  background-color: darkslategrey;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  margin-right: 10px;
  margin-bottom: 20px;
  display: inline-block;
  padding: 10px;
  vertical-align: top;
}

.debug-panel-page-container {
}