
/* error-panel */

.error-panel-div {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  color: white;
  background-color: red;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 10;
}

.error-panel-title {
  text-align: center;
  font-size: 120%;
}
