
/* help-panel */

 .help-panel-theme-light {
  background-color: #aaaaaa;
  border: 1px solid black;
  color: black;
}
.help-panel-theme-dark {
  background-color: #5c5c5c;
  border: 1px solid #a3a3a3;
  color: white;
}

.help-panel-help-div {
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.help-panel-docs-div-light {
  background-color: #9ac9ff;
  border: 1px solid #565656;
  border-radius: 7px;
  color: black;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

.help-panel-docs-div-dark {
  background-color: #25159a;
  border: 1px solid black;
  border-radius: 7px;
  color: white;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 10px;
}
