
/* license-panel */

 .license-panel-theme-light {
  background-color: #aaaaaa;
  border: 1px solid black;
  color: black;
}
.license-panel-theme-dark {
  background-color: #5c5c5c;
  border: 1px solid #a3a3a3;
  color: white;
}

.license-panel-license-div {
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
