
/* notice-panel */

.channel-panel-theme-light {
  background-color: #bef7bf;
  border: 1px solid black;
  color: black;
}
.channel-panel-theme-dark {
  background-color: #005e03;
  border: 1px solid #99dd9b;
  color: white;
}


.channel-panel-name-div {
  display: inline-block;
  font-size: 120%;
  margin-bottom: 5px;
}

.channel-panel-topic-div {
  margin-bottom: 5px;
}

.channel-panel-been-kicked-icon {
  background-color: #ff0000;
  border: 0px solid black;
  border-radius: 12px;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  margin-left: 2px;
  margin-right: 0px;
  padding: 0px 3px 0px 3px;
  text-align: center;
}
.channel-panel-been-kicked-icon[hidden] {
display: none;
}

.channel-panel-presets-div {
  border-radius: 5px; 
  padding: 5px 10px 5px 10px;
}

.channel-panel-zoomed {
  background-color: rgb(255, 153, 0);
  color: #000000;
}
/* For button on IOS mobile device */
.channel-panel-zoomed:hover {
  background-color: #1378a0;
  color: #ffffff;
}
