
/* server-form */

.server-form-theme-light {
  background-color: #b8f5ff;
  border: 1px solid black;
  color: black;
}
.server-form-theme-dark {
  background-color: #117180;
  border: 1px solid #7ac4cf;
  color: white;
}
