
/* wallops-panel */

.wallops-panel-theme-light {
  background-color: #effcae;
  border: 1px solid black;
  color: black;
}
.wallops-panel-theme-light[flash] {
  background-color: rgba(0,0,0,0);
  color: rgba(0,0,0,0);
}
.wallops-panel-theme-dark {
  background-color: #5e7000;
  border: 1px solid #b8d330;
  color: white;
}
.wallops-panel-theme-dark[flash] {
  background-color: rgba(0,0,0,0);
  color: rgba(0,0,0,0);
}