html {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: #f8f8f8;
}

textarea {
  resize: none;
  /* for Chrome IOS */
  font-family: monospace;
  font-size: 90%;
}

button {
  background-color: #f4f4f4;
  border-top: 1px solid #777777;
  border-right: 2px solid #444444;
  border-bottom: 2px solid #444444;
  border-left: 1px solid #777777;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #808080;
  color: black;
  padding-top: 3px;
  padding-bottom: 3px;
}
button:hover {
  background-color: #e2e2e2;
}
button[disabled] {
  background-color: #b8b8b8;
  color: #444444
}

.aa-section-div {
  background-color: #aaaaaa;
  border: 1px solid black;
  border-radius: 6px;
  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 10px;
  margin-bottom: 8px;
}

.bm10 {margin-bottom: 10px;}

.button-div {
  margin-bottom: 5px;
}

.chan-top-section-div {
  background-color: #bef7bf;
}

.channel-main-section-div {
  background-color: #bef7bf;
}

.chan-name-div {
  display: inline-block;
  font-size: 120%;
  margin-bottom: 5px;
}

.chan-topic-div {
  margin-bottom: 5px;
}

.channel-bottom-div {}

.channel-top-div {}

.channel-cb-cb {
  vertical-align: middle;
}
.channel-cb-span {
  margin-right: 10px;
  font-size: 80%;
  vertical-align: middle;
}

.channel-button {
  margin-right: 7px;
}

.channel-names-display {
  margin-right: 2px;
}

.connect-icon {
  background-color: #FF4444;
  border: 1px solid black;
  border-radius: 12px;
  color: black;
  font-weight: bold;
  display: inline-block;
  margin-right: 2px;
  padding: 3px 10px 2px 10px;
}

.connect-icon[connected] {
  background-color: #00c71b;
}
.connect-icon[connecting] {
  background-color: #ffffff;
}

.debug-div-time {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.error-div {
  position: fixed;
  top: 0px;
  left: 0px;
  width: auto;
  color: white;
  background-color: red;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.error-title {
  text-align: center;
  font-size: 120%;
}

.head-flex {
  display: flex;
  justify-content: space-between;
}

.head-left {
  display: inline;
}

.head-center {
  display: inline;
}

.head-right {
  display: inline;
  padding-right: 10px;
}

.info-license-div {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.info-pre-help {
  font-size: 80%;
}

.info-section-div {
}

.inline-block {
  display: inline-block;
}

.input-label-left {
  display: inline-block;
}

.input-label-right {
  display: inline-block;
}

.input-label-top {
  display: block;
  margin-bottom: 4px;
}

.lm10 {margin-left: 10px;}

.logout-confirm-div {
  background-color: yellow;
  padding: 10px;
}

.notice-button {
  margin-right: 4px;
  margin-bottom: 7px;
}

.notice-section-div {
  background-color:#ebad57;
}

.priv-msg-section-div {
  background-color: #a8cbe3;
}

.raw-section-div {
  background-color: #dbbaff;
}

.raw-cb-cb {
  vertical-align: middle;
  margin-right: 0px;
  box-shadow: 2px 2px 3px #777777;
}
.raw-cb-span {
  margin-right: 5px;
  font-size: 80%;
  vertical-align: middle;
}

.reconnect-div {
  background-color: #1234ff;
  color: #ffffff;
  border: 1px solid black;
  border-radius: 6px;
  padding-top: 0px;
  padding-bottom: 6px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.reconnect-status-div {
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
}

.rm10 {margin-right: 10px;}
.rm20 {margin-right: 20px;}


.user-span {
  font-size: 120%;
  font-weight: bold;
}
.variables-div {
  background-color: #dbc8b6;
  border: 1px solid black;
  margin-right: 10px;
  padding: 6px;
}

.va-middle {
  vertical-align: middle;
}

.vh5 {height: 5px;}
.vh10 {height: 10px;}
.vh20 {height: 20px;}

.wallops-section-div {
  background-color: yellow;
}
