<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Blocked Cookie Warning</title>
<link rel="stylesheet" href="/login.css">
</head>
<body>
<div class="info-div">
<h2 class="center">Blocked Cookies</h2>
<div>
Your browser or security software appears to be blocking cookies.
Cookies are required during the login process to properly
authenticate you as an authorized user.
</div>
<div>
<a href="/login"><button class="button">Try Again</button></a>
</div>
</div>
</body>
</html>
