<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login Disabled</title>
<link rel="stylesheet" href="/login.css">
</head>
<body>
<div class="info-div">
<h2 class="center">irc-hybrid-client</h2>
<div>
Failed login count exceeds limit.
</div>
<div class="div-height-20"></div>
<div>
This condition may be reset by shutdown and
restart of the irc-hybrid-client web server.
</div>
</div>
<div class="warning-div">Login disabled</div>
</body>
</html>
