body {
  background-color: #d0d0d0;
  padding-left: 10px;
}
button {
  background-color: #f4f4f4;
  border-top: 1px solid #777777;
  border-right: 2px solid #444444;
  border-bottom: 2px solid #444444;
  border-left: 1px solid #777777;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #808080;
  color: black;
  margin-top: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}
button:hover {
  background-color: #e2e2e2;
}

.center {
  text-align: center;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #b0b0b0;
    box-sizing: border-box;
}
form {
  border: 3px solid #a0a0a0;
  border-radius: 10px;
  padding: 12px;
  width: 300px;
  background-color: #ffffff;
}
.warning-div {
  background-color: red;
  color: white;
  border: 2px solid #a0a0a0;
  border-radius: 10px;
  font-size: 140%;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-top: 3px;
  padding-left: 25px;
  padding-bottom: 5px;
  text-align: center;
  width: 300px;
}
.info-div {
  border: 3px solid #a0a0a0;
  border-radius: 10px;
  padding: 12px;
  width: 300px;
  background-color: #ffffff;
  margin-bottom: 16px;
  margin-top: 16px;
}

.div-height-20 {
  height: 20px;
}
